.Productos{
    width: 25%;
    height: 100%;
    padding: 2%;
    /* background-color: blue; */
    box-sizing: border-box;
    gap: 2%;
    background-color: #f9f9f9;
    border-radius: 0 20px 20px 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.TopProducts{
    padding: 5%;
}

.CardProductos{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 3%;
    box-sizing: border-box;
    margin: 16px 0;
}

.CardProducto{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 48%;
    gap: 12px;
    box-sizing: border-box;
    padding: 5%;
    border-radius: 15px;
    background-color: #A7BEFF;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    animation: fadeInUp 1s ease-out;
    transition: 0.6S;
}

.CardProducto:hover{
    scale: 1.05;
    transition: 0.6S;
    cursor: pointer;
}

.IconoContainer{
    padding: 5% 10%;
    border-radius: 10px;
    background-color: #BACCFF;
}

.Icono--Texto{
    display: flex;
    gap: 12px;
    align-items: flex-end;
    gap: 5%;
}

.iconoCard{
    padding: 6%;
    background-color: #121212;
    border-radius: 10px;
}